{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/background.css' %}">
    <title>Details</title>
</head>
<body class="full-height">
<div class="container">
    <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-tabs">
        <li class="nav-item"><h2><a href="{% url 'superheroes:index' %}" class="nav-link text-dark">Home</a> </h2></li>
        <li class="nav-item"><h2><a href="{% url 'superheroes:create' %}" class="nav-link text-dark">Add superhero</a> </h2></li>
        <li class="nav-item"><h2><a href="{% url 'superheroes:delete' hero.id %}" class="nav-link text-dark">Delete hero</a></h2></li>
        <li class="nav-item"><h2><a href="{% url 'superheroes:edit' hero.id %}" class="nav-link text-dark">Edit hero</a> </h2></li>
    </ul>
    </header>
</div>
<div class="container"><h1>{{hero.name}}</h1></div>
<div class="container"><ul>
    <li><h2> Hero ID - {{hero.id}}</h2></li>
    <li><h2> Alter Ego - {{hero.alter_ego}}</h2></li>
    <li><h2> Primary Ability - {{hero.primary_ability}}</h2></li>
    <li><h2> Secondary Ability - {{hero.secondary_ability}}</h2></li>
    <li><h2> Catch Phrase - {{hero.catch_phrase}}</h2></li>
</ul></div>
</body>
</html>