<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Details</title>
</head>
<body>
<h1>{{hero.name}}</h1>
<h2><a href="{% url 'superheroes:delete' hero.id %}">Delete hero</a></h2>
<h2><a href="{% url 'superheroes:edit' hero.id %}">Edit hero</a> </h2>
<ul>

    <li><h2> Hero ID - {{hero.id}}</h2></li>
    <li><h2> Alter Ego - {{hero.alter_ego}}</h2></li>
    <li><h2> Primary Ability - {{hero.primary_ability}}</h2></li>
    <li><h2> Secondary Ability - {{hero.secondary_ability}}</h2></li>
    <li><h2> Catch Phrase - {{hero.catch_phrase}}</h2></li>
</ul>
</body>
</html>